@media only screen and (max-width: 490px) {

  /* nav bar respo.... */
  .nav{
    padding: 0rem 2rem 0rem 2rem;
  }
  .list {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding-bottom: 20px;
  }
  .list.active {
    left: 0;
    top:44px
  }
  .list li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .list li {
    margin-left: 0px;
    justify-content: center;
  }
  .button-align{
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  /* hero section */
  .flex{
    flex-direction: column-reverse;
  }
  .hero-section-row1{
    padding-top: 50px;
    margin-top: 0px;
  }
  .hero-section-row2{
    padding-top: 10px;
  }
  .hero-section1{
    width: 100%;
  }
  .hero-section2{
    width: 100%;
  }
  .hero-section2 img{
    width: 100%;    
  }
  .section-gap{
    padding-left: 0px;
  }
  /* hero section ka 3rd sec img back ground remove */
  .content-float-row1 img{
    background-color: rgba(255, 255, 255, 0);
  }

  .chooseus-container-card{
    width: 100%;
  }

  .services-content{
    flex-direction: column;
  }
  .service-offer-col{
    width: 80%;  
  }
  .services-content p{ 
    text-align: center;
  }
  .service-offer-col img{
    float: left;
    width: 100%;
  }
  .content-float-row1 img {
    width: 44%;
  }
  /* technologies we work with section */
  .tech-img{
    flex-direction: row;
  }
  .tech-img-div{
    width: 50%;
  }
   /* contact us respo */
  .box{
    width: 100%;
  }
  .input-box p{
    width: 100%;
  }
   .contactus-section{
    display: none;
}

.contactus-section-details h2{
    font-size: 1.3rem;
}
.contactus-section-details p{
    padding-top: 0rem;
    font-size: 0.8rem;
}
.info-section {
  margin-top: 3.7rem;
}
.info-details{
    flex-direction: column;
    text-align: center;
}
.info-detail-sec{
    width: 100%
}
.contact-info-row-02-img{
    display: none;
}
.contact-info-row-02-info{
    width: 100%;
}
.contact-info-row-02-info-h4{
    text-align: center;
}
.contact-info-row-02-info-p{
    text-align: center;
}
.center-btn{
    justify-content: center;
}
  /* footer section */
    .link-boxes{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }

    .input-details{
      flex-direction: column;
    }
    .input-details li:nth-child(1){
      width: 100%;
    }
    .input-details li:nth-child(2){
      margin-left: 0px;
      width: 100%;
    }
    /* footer section */

  }

  