* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lexend Deca, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --blue: rgb(72, 115, 255);
}

/* loader */

#preloader{
  background:#ffffff  url(gif/Vanilla-1s-285px.gif) no-repeat center;
  background-size: 35%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* scrollbar */
body::-webkit-scrollbar{
  background-color: #0000004e;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--blue);
  border-radius: 20px;
}

/* tap to scroll */

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #000000;
  color: var(--blue);
}

/* body{
  
  background-image: url(image/LOGO6.png);
  background-repeat: no-repeat;
  background-size: contain;
} */
.container {
  margin-inline: auto;
  padding-inline: 20px;
  overflow: hidden;
  max-width: 1180px;
}

.flex {
  display: flex;
  align-items: center;
}

.reverse-flex {
  flex-direction: row-reverse;
}

.nav img {
  width: 158px;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);

}

.nav {
  box-shadow: 0px 3px 9px -4px rgba(0, 0, 0, 0.75);
}

a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.757);
  transition: all .3s ease-in-out;
}

a:hover {
  color: rgb(72, 115, 255);
}

.list {
  list-style-type: none;
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
}

.list li {
  margin-left: 50px;
  justify-content: right;
}

.primary-btn {
  background-color: rgb(72, 115, 255);
  padding: 10px 15px;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(72, 115, 255);
  border-radius: 8px;
}

.button-align {
  margin-left: 35px;
  margin-top: -8px;
}

.primary-btn:hover {
  color: white;
}

/* Burgur */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(1, 60, 253);

}


/* Hero section  */
.hero-section-row1 {
  margin-top: 85px;
  background-image: linear-gradient(0deg, rgba(25, 136, 247, 0) 1%, rgba(192, 195, 233, 0.34) 100%);
}

.hero-section-row2 {
  padding-top: 70px;
  background-image: linear-gradient(180deg, rgba(25, 136, 247, 0) 1%, rgba(192, 195, 233, 0.34) 100%);
}

.hero-section1 {
  width: 50%;
  padding-bottom: 20px;
}

.remove-element {
  background-color: rgba(255, 255, 255, 0);
  border-radius: none;
}

.hero-section1 h1 {
  font-size: 3rem;
}

.hero-section1 p {
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-block: 2rem;
}

.hero-section2 {
  width: 50%;
}


.hero-section2 img {
  width: 530px;
}

.content-float img {
  float: right;
}

.section-gap {
  padding-left: 86px;
}

/* new section */

.content-float-row1 img {
  margin: 6px;
  width: 40%;
  background-color: rgba(1, 60, 253, 0.178);
}

.image-decor2 {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.image-decor1 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* why choose us section */
.choose-us {
  text-align: center;
  padding-block: 4rem;  
  background-image: linear-gradient(180deg, rgba(25, 136, 247, 0) 1%, rgba(192, 195, 233, 0.34) 100%);
}

.choose-us-details h4 {
  color: rgb(105, 53, 202);
  font-weight: bold;
  font-size: 2rem;
}

.choose-us-details h1 {
  padding-block: 2rem;
}

.chooseus-container {
  width: 100%;
  justify-content: space-between;
}

.chooseus-container-card {
  text-align: center;
  width: 23%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.264);
  transition: all .2s ease-in-out;
}

.chooseus-container-card:hover {
  scale: 1.01;
}

.para {
  font-weight: bold;
  padding-block: 1rem;
}

.para2 {
  font-size: .8rem;
  line-height: 1.2rem;
}

/* our Services Section */
.service-offer{
  background-image: linear-gradient(0deg, rgba(25, 136, 247, 0) 1%, rgba(192, 195, 233, 0.34) 100%);
}
.service-offer-col{
  padding-block: 2rem;
  width: 48%;  
}
.service-offer-col h4{
  padding-block: 1rem;
  font-size: 1.8rem;
}
.service-offer-col p{
  line-height: 1.5rem;
  font-size: .9rem;
}
.services-content{
  display: flex;
  gap: 40px;
  padding-block: 2rem;
}
.services-content p{  
  font-size: 1rem;
  background-color: #eee6e6;
  margin-bottom: 15px;
  padding: 15px 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.601);
  border-radius: 4px;
}
.service-offer-col img{
  float: right;
  width: 380px;
}
/* tech we work with */
.tech-work{
  padding-block: 2rem;
  
  background-image: linear-gradient(180deg, rgba(25, 136, 247, 0) 1%, rgba(192, 195, 233, 0.34) 100%);
}
.tech-work-info{
  padding-block: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tech-work-info p{
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #0077B5;
}
.tech-img{
  justify-content: space-between;
  padding-block: 2rem;
  
}
.tech-img-div{
  width: 23%;
}
.tech-img-div img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  transition: all .4s ease-in;
}
.tech-img-div:hover img{
  scale: 1.1;
}
/* Contact Section CSS ..... Started.... */
.contactus-section {
  background: linear-gradient(rgb(0, 0, 0, .8), rgb(0, 0, 0, .4)), url(image/contactus\ banner\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 7rem;
  margin-top: 5.3rem;
}

.contactus-section-details {
  text-align: center;
}

.contactus-section-details h2 {
  /* color: var(--blue); */
  color: white;
  font-size: 3rem;
}

.contactus-section-details p {
  padding-top: 1.3rem;
  font-size: 1.5rem;
  color: white;
}

.contact-home:hover {
  color: var(--blue);
}

.center-btn {
  margin-top: 20px;
}

/* Information Details */

.info-section {
  text-align: center;
  padding-block: 40px;
}

.info-details {
  justify-content: space-between;
}

.info-detail-sec {
  width: 23%;
  padding: 15px;
}

.info-detail-sec p a {
  color: black;
}

.info-detail-sec i {
  color: var(--blue);
  font-size: 3rem;
  padding-bottom: .8rem;
}

.info-detail-sec h4 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.info-detail-sec p {
  font-size: .8rem;
  padding-block: 1rem;
}

/* contact form */


.contact-info-row-02 {
  padding-block: 40px;
  background-image: url(image/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-info-row-02-info {
  width: 50%;
}

.contact-info-row-02-info-h4 {
  font-size: 2rem;
  padding-block: 2rem;
  color: var(--blue);
}

.contact-info-row-02-info-p {
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 0.418);

}

.gaping-form {
  gap: 3.2rem;
}

.form-p {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: var(--blue);
  padding-bottom: 20px;
  padding-top: 20px;
}

.input-form {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 0.6rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.366);
}

form {
  padding-bottom: 2rem;
}

.contact-info-row-02-img {
  width: 40%;
}

.contact-info-row-02-img img {
  width: 100%;
  border-radius: 30px;
  box-shadow: -5px 2px 4px 8px #42252c6d;
}


/* footer section  */

footer{
  background-color: rgb(72, 115, 255);
  width: 100%;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
 .link-boxes{
  width: 1250px;
  padding-top: 2rem;
  border-top: 2px solid white;
  }
  .box{
    width: 33%;
  }
.box .link_name{
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.box li{
  margin: 6px 0;
  list-style: none;
}
.box li a{
  color: #fff;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.box li a:hover{
  opacity: 1;
  text-decoration: underline;
  color: yellow;
}
.input-box p{
  color: white;
  width: 70%;
}
.link-boxes .input-box input{
  height: 40px;
  width: 50%;
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.input-details{
  display: flex;
  padding-block: 1rem;
}
.input-details li:nth-child(1){
  width: 84%;
}
.input-details li:nth-child(2){
  margin-left: -140px;
  width: 55%;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
.all-rights-reserved{
  background-color: #0F0844;
  padding-block: 2rem;
  text-align: center;
}
.all-rights-reserved p{
  color: #ffffff;
}
.all-rights-reserved a{
  color: #FF0000;
  font-weight: bold;
}
.all-rights-reserved:hover a{
  color: rgb(208, 255, 0);
}


/* footer section  */