*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lexend Deca,sans-serif;
    
}/* 
@import "transition-style"; */

.container{
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
    max-width: 1180px;
}
.flex{
    display: flex;
    align-items: center;
}
.reverse-flex{
  flex-direction: row-reverse;
}

.nav img{
    width: 158px;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    
  }
  .nav{
    box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.75);
  }
  
  a {
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.757);
    transition: all .3s ease-in-out;
  }
  a:hover{
    color: rgb(1, 60, 253);
  }
  
  .list {
    list-style-type: none;
    display: flex;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .list li {
    margin-left: 50px;
    justify-content: right;
  }
  .primary-btn{
    background-color: rgb(1, 60, 253);
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    border: 1px solid  rgb(1, 60, 253);
    border-radius: 8px;
  }
  .button-align{
    margin-left: 35px;
    margin-top: -8px;
  }
  .primary-btn:hover{
    color: white;
  }

  /* Burgur */
  .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:rgb(1, 60, 253);
}


  /* Hero section  */
  .hero-section-row1{
    margin-top: 85px;
    background-image: radial-gradient(circle, rgba(25, 136, 247, 0) 1%, rgba(205, 206, 224, 0.42) 100%);
    padding-block: 50px;
  }
  .hero-section-row2{
    padding-top: 70px;
  /*   
    animation-name: circle-in-bottom-left;
    transition-delay: 2.5s;
    transition-timing-function: ease-in; */
    background-color: rgba(133, 133, 173, 0.437);

  }
/*   .hero-section-row2:hover{
  
    animation-name: circle-in-bottom-left;
    transition-delay: 2.5s;
    transition-timing-function: ease-in;
    } */


  @keyframes circle-in-bottom-left {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at bottom left);
    }
  }
  .hero-section1{
    width: 50%;
    padding-bottom: 20px;
    /* background-color: rgba(1, 60, 253, 0.178);
    border-radius: 50% 50% 50% 50% / 0% 100% 0% 100%  ; */
  }
  
  .remove-element{
    background-color: rgba(255, 255, 255, 0);
    border-radius: none ;
  }
  .hero-section1 h1{
    font-size: 3rem;
  }
  .hero-section1 p{
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding-block: 2rem;
  }
  .hero-section2{
    width: 50%;
  }
  
  
  .hero-section2 img{
    width: 530px;  
  }
  .content-float img{
    float: right;
  }
  .section-gap{
    padding-left: 86px;
  }

  /* new section */

.content-float-row1 img{
  margin:6px;
  width: 40%;
  background-color: rgba(1, 60, 253, 0.178);
}
.image-decor2{  
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.image-decor1{  
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* why choose us section */
.choose-us{
  text-align: center;
  padding-block: 4rem;
}
.choose-us-details h4{
color:rgb(105, 53, 202);
  font-weight: bold;
  font-size: 2rem;
}
.choose-us-details h1{
  padding-block: 2rem;    
}
.chooseus-container{
  width: 100%;
  justify-content: space-between;
}
.chooseus-container-card{
  text-align: center;
  width: 23%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.264);
  transition: all .2s ease-in-out;
}
.chooseus-container-card:hover{
  scale: 1.01;
}
.para{
  font-weight: bold;
  padding-block: 1rem;
}
.para2{
  font-size: .8rem;
  line-height: 1.2rem;
}